@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Nanum+Brush+Script&display=swap');

h1 {
    font-family: 'Nanum Brush Script', cursive;
    color: #264040;
}

body {
    background-color: #CCCDC8;
}

p {
    font-family: 'Comic Neue', cursive;
    color: #82b3ac;
}